alabaster==0.7.10
anaconda-client==1.6.5
anaconda-navigator==1.6.8
anaconda-project==0.8.0
antlr4-python3-runtime==4.7.1
appdirs==1.4.3
args==0.1.0
asn1crypto==0.24.0
astor==0.6.2
astroid==1.5.3
astropy==2.0.2
awsebcli==3.10.6
Babel==2.5.3
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.0
bitarray==0.8.1
bkcharts==0.2
blaze==0.11.3
bleach==2.0.0
blessed==1.14.2
bokeh==0.12.7
boto==2.48.0
botocore==1.6.8
Bottleneck==1.2.1
cement==2.8.2
certifi==2018.1.18
cffi==1.11.4
chardet==3.0.4
click==6.7
clint==0.5.1
cloudpickle==0.4.0
clyent==1.2.2
codeclimate-test-reporter==0.2.3
colorama==0.3.7
conda==4.3.30
conda-build==3.0.23
conda-verify==2.0.0
configparser==3.5.0
contextlib2==0.5.5
coverage==4.4.1
coveralls==1.2.0
crcmod==1.7
cryptography==2.1.4
cvxopt==1.1.9
cycler==0.10.0
Cython==0.26.1
cytoolz==0.8.2
dask==0.15.2
datashape==0.5.4
decorator==4.2.1
dispy==4.8.3
distributed==1.18.3
Django==1.11.4
django-nose==1.4.5
docker-py==1.7.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
entrypoints==0.2.3
enum34==1.1.6
et-xmlfile==1.0.1
ete3==3.1.1
fastcache==1.0.2
fermilib==0.1a3
filelock==2.0.12
Flask==0.12.2
Flask-Cors==3.0.3
forestopenfermion==0.0.2
funcsigs==1.0.2
future==0.16.0
gevent==1.2.2
glob2==0.5
gmpy2==2.0.8
greenlet==0.4.12
grove==0.0.13
gunicorn==19.7.1
h5py==2.7.0
heapdict==1.0.0
html5lib==0.999999999
hy==0.13.0
IBMQuantumExperience==1.8.26
idna==2.6
imageio==2.2.0
imagesize==0.7.1
ipykernel==4.6.1
ipython==6.1.0
ipython-genutils==0.2.0
ipywidgets==7.0.0
iso8601==0.1.12
isort==4.2.15
itsdangerous==0.24
jdcal==1.3
jedi==0.10.2
Jinja2==2.10
jmespath==0.9.3
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.3.0
jupyterlab==0.27.0
jupyterlab-launcher==0.4.0
lazy-object-proxy==1.3.1
llvmlite==0.20.0
locket==0.2.0
Logbook==1.1.0
lxml==3.8.0
MarkupSafe==1.0
matplotlib==2.1.2
mccabe==0.6.1
mistune==0.7.4
mock==2.0.0
mpmath==0.19
msgpack-python==0.4.8
multipledispatch==0.4.9
navigator-updater==0.1.0
nbconvert==5.3.1
nbformat==4.4.0
networkx==1.11
nltk==3.2.4
nose==1.3.7
notebook==5.0.0
ntlm-auth==1.0.6
numba==0.35.0+10.g143f70e90
numexpr==2.6.2
numpy==1.14.1
numpydoc==0.7.0
odo==0.5.1
olefile==0.44
openfermion==0.1a0
openpyxl==2.4.8
packaging==16.8
pandas==0.20.3
pandocfilters==1.4.2
partd==0.3.8
path.py==10.3.1
pathlib2==2.3.0
pathspec==0.5.0
patsy==0.4.1
pbr==3.1.1
pep8==1.7.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.2.1
pkginfo==1.4.1
pluggy==0.5.2
ply==3.10
projectq==0.3.5
prompt-toolkit==1.0.15
psutil==5.2.2
ptyprocess==0.5.2
py==1.4.34
pybind11==2.2.1
pycodestyle==2.3.1
pycos==4.6.5
pycosat==0.6.2
pycparser==2.18
pycrypto==2.6.1
pycurl==7.43.0
pyflakes==1.5.0
Pygments==2.2.0
pylint==1.7.2
pymongo==3.6.0
pynput==1.3.10
pyodbc==4.0.17
pyOpenSSL==17.2.0
pyparsing==2.2.0
pyquil==1.8.0
PySocks==1.6.7
pytest==3.2.1
pytest-cov==2.5.1
python-dateutil==2.6.1
python-xlib==0.21
pytz==2018.3
PyWavelets==0.5.2
PyYAML==3.12
pyzmq==16.0.2
qiskit==0.4.5
QtAwesome==0.4.4
qtconsole==4.3.1
QtPy==1.3.1
-e git+https://github.com/rigetticomputing/grove.git@13356352cc7be78af04689d4d887e44e8c7b43b4#egg=quantum_grove
-e git+https://github.com/rigetticomputing/reference-qvm.git@37639ea969da5e83ed1507bb7cdd58560a3bfefb#egg=referenceqvm
requests==2.18.4
requests-ntlm==1.1.0
rope==0.10.5
rply==0.7.5
ruamel-yaml==0.11.14
scikit-image==0.13.0
scikit-learn==0.19.0
scipy==1.0.0
seaborn==0.8
semantic-version==2.5.0
serial==0.0.51
simplegeneric==0.8.1
simplejson==3.13.2
singledispatch==3.4.0.3
six==1.11.0
snowballstemmer==1.2.1
sortedcollections==0.5.3
sortedcontainers==1.5.7
Sphinx==1.6.6
sphinx-rtd-theme==0.2.4
sphinxcontrib-websupport==1.0.1
spyder==3.2.3
SQLAlchemy==1.1.13
statsmodels==0.8.0
sympy==1.1.1
tables==3.4.2
tabulate==0.7.5
tblib==1.3.2
termcolor==1.1.0
terminado==0.6
testpath==0.3.1
thriftpy==0.3.9
toolz==0.8.2
tornado==4.5.2
tox==2.9.1
traitlets==4.3.2
typing==3.6.4
unicodecsv==0.14.1
urllib3==1.22
virtualenv==15.1.0
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.44.0
Werkzeug==0.12.2
widgetsnbextension==3.0.2
wrapt==1.10.11
xlrd==1.1.0
XlsxWriter==0.9.8
xlwt==1.3.0
zict==0.1.2
