{% extends '_base.html' %}
{% block head %}
{% endblock %}

{% block content %}
<h2>Quantum Language Compiler</h2>
<div cl<div class="row">
    <div class="row">
        <p class="text-left">
            Our Compiler takes a high level Quantum Programming Language and compiles it down to a Universal gate set which can be efficiently run on our Quantum Virtual Machine. The compiler was written in common LISP.
        </p>
        <p class="text-left">
            For example:<br /><br />
            <code>BELL 1 2 4</code><br /><br />
            is compiled to<br /><br />

            <code>X 1</code><br />
            <code>X 2</code><br />
            <code>H 1</code><br />
            <code>CNOT 1 2</code><br /><br />

            Which entagles Qubit 1 and 2 in the "4th" bell state or 0.71|01> - 0.71|01>
        </p>
    </div>
</div>

{% endblock %}
