{% extends '_base.html' %}
{% block head %}
{% endblock %}

{% block content %}
    <h2>Quantum Programming Language</h2>
    <div cl<div class="row">
        <div class="row">
            <p class="text-left">
                We developed a Quantum Programming Language to be used with out Compiler and run on our Quantum Virtual Machine. This language includes a large majority of the standard quantum gate sets as well as other high level instructions which are compiled to a subset of universal instructions. This higher level instructions include autmatically generating a Bell state with the <code>BELL X Y Z</code> command, and applying the <code>CNOT</code> gate to two non consecutively addressed qubits.
            </p>
        </div>
    </div>

<div class="row">
    <div class="col-md-4">
        <code>I {q}</code><br />
        <code>X {q}</code><br />
        <code>Y {q}</code><br />
        <code>Z {q}</code><br />
        <code>H {q}</code><br />
        <code>T {q}</code><br />
        <code>S {q}</code><br />
    </div>
    <div class="col-md-4">
        <code>CNOT {q1} {q2}</code><br />
        <code>SWAP {q1} {q2}</code><br />
        <code>RY {q} {r}</code><br />
        <code>RX {q} {r}</code><br />
        <code>RZ {q} {r}</code><br />
    </div>
    <div class="col-md-4">
        <code>MEASURE {q}</code><br />
        <code>BELL {q1} {q2} {v} </code><br />
        <code>CLASSICAL {c} {v} {s}</code><br />
    </div>
</div>

<div cl<div class="row">
    <div class="row">
        <p class="text-left">
            <code>{qX}</code>is the qubit register<br />
            <code>{r}</code> is the rotation for the rotation gates applied to qubit <br />
            <code>{v}</code> in the BELL instruction describes which BELL state to construct (1-4)<br /><br />
            The <code>CLASSICAL</code> instruction is unique. It accesses classical registers which correspond to measured values of qubit registers. It acts as control instruction as the <code>{s}</code> describes how many lines to skip if the value of the classical register is equal to that found in <code>{v}</code>
        </p>
    </div>
</div>

{% endblock %}
