<template name="hll">
	
	  <div class="row">
        <div class="col-6">Matrix A</div>
        <div class="col-2 hide-me"></div>
        <div class="col-3">Matrix B</div>
      </div>

	<form class="matrix-hll">

      <div class="row">
        <div class="col-3"><input type="text" name="A-1x1" value="1"></div>
        <div class="col-3"><input type="text" name="A-1x2" value="1"></div>
        <div class="col-2 hide-me"></div>
        <div class="col-3"><input type="text" name="B-1x1" value="1"></div>
      </div>

      <div class="row">
        <div class="col-3"><input type="text" name="A-2x1" value="1"></div>
        <div class="col-3"><input type="text" name="A-2x2" value="1"></div>
        <div class="col-2 hide-me"></div>
        <div class="col-3"><input type="text" name="B-1x2" value="1"></div>
      </div>

      <input type="submit" class="btn btn-info" value="Submit Button">
    </form>
</template>