{% extends '_base.html' %}
{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/static/js/teleport.js"></script>
{% endblock %}

{% block content %}
<h2> Quantum Teleportation Simulation</h2>
<div class="row">
    <p class="text-left">
        Quantum teleportation is a process by which quantum information from one location to another, with the help of classical communication and previously shared quantum entanglement between the sending and receiving location.
        When you click "Teleport!" This machine runs Alice's code which generates the entangled state and measures the qubits stored in register 0 and 1. The measured values are now classical bits and sent to a separate server where Bob's code is run in our Quantum Virtual Machine.
        From the classical bits that are measured on Alice's machine and sent to Bob's we are able to impart the quantum state into qubit
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Alice's Quantum Program </h3>
        <div class="well">
            <ol>
                <li><samp class="code-block">QUBITS 3</samp></li>
                <li><samp class="code-block">H 1</samp></li>
                <li><samp class="code-block">CNOT 1 2</samp></li>
                <li><samp class="code-block">CNOT 0 1</samp></li>
                <li><samp class="code-block">H 0</samp></li>
                <li><samp class="code-block">MEASURE 0</samp></li>
                <li><samp class="code-block">MEASURE 1</samp></li>
            </ol>
        </div>
<!--        <h3>Bell State Reference</h3>
        <div class="well">
            <code>B00</code> => <code>0.71|00> + 0.71|11></code><br />
            <code>B01</code> => <code>0.71|01> + 0.71|10></code><br />
            <code>B10</code> => <code>0.71|00> + -0.71|11></code><br />
            <code>B11</code> => <code>0.71|01> + -0.71|10></code><br />
        </div> -->
    </div>
    <div class="col-md-4">
        <div class="text-center align-middle">
            <div style="margin-bottom:40px">
                <button type="button" class="btn btn-primary js-teleport">TELEPORT!</button>
                <div class="progress" style="display:none; margin-top:10px;">
                    <div class="progress-bar progress-bar-striped progress-bar-animated js-teleport-progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                </div>
            </div>
            <div class="loader"></div>
            <h3>Engtangled State</h3>
            <div class="well js-entangled-state">
                0.5|000> + 0.5|011> + 0.5|100> + 0.5|111>
            </div>
            <h3>Alice's Measured Qubits</h3>
            <div class="well js-alices-wvf"></div>
            <h3>Bobs's Qubit's State</h3>
            <div class="well js-bobs-wvf"></div>
        </div>
    </div>
    <div class="col-md-4">
        <h3>Bob's Quantum Program</h3>
        <div class="well js-bobs-code">

        </div>
    </div>
</div>
<div class="row text-center" style="width=100%">
    <center><img src="/static/img/teleport.png"></center>
</div>

{% endblock %}
